<div class="row mt-3">
  <div class="col" align="center">
    <img class="planter" src='../../assets/farmer.png'> <span class="title">Tree Planter</span>
  </div>

  <div class="col top-links" align="center">
    <ul ngbNav [activeId]="route.url | async" class="nav justify-content-center">
      <li [ngbNavItem]="link.routerLink" *ngFor="let link of links">
        <span class="top-link-item"><a class="text-success" ngbNavLink [routerLink]="link.routerLink">{{ link.title }}</a></span>
      </li>
    </ul>
  </div>

  <div class="col" align="center">
    <button type="button" class="btn btn-outline-success" (click)="connectWallet()">
      <div *ngIf="wallet.connected">
        {{wallet.userAddress.substring(0, 14)}}
      </div>
      <div *ngIf="!wallet.connected">
        Connect Wallet
      </div>
    </button>
  </div>
</div>