<footer class="footer mb-3 mt-5">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-success" href="https://github.com/WhalerDAO/tree-contracts">GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success " href="https://discord.gg/h9AS2XN">Discord</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" href="https://twitter.com/trees4free">Twitter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" href="https://whalerdao.org">WhalerDAO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" href="https://etherscan.io/token/0xce222993a7e4818e0d12bc56376c5a60f92a5783">Etherscan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" href="https://info.uniswap.org/token/0xce222993a7e4818e0d12bc56376c5a60f92a5783">Uniswap</a>
    </li>
  </ul>
</footer>