<div class="container mt-5 text-center justify-content-center">
  <div class="row mb-3">
    <div class="col">
      <div class="row justify-content-center">
        <h1 class="display-1">{{constants.FORESTS[forestID].emoji}}</h1>
      </div>
      <div class="row justify-content-center">
        <h1 class="display-4">{{constants.FORESTS[forestID].name}}</h1>
      </div>
      <div class="row justify-content-center">
        <h2 class="text-muted">Stake {{constants.FORESTS[forestID].tokenName}} tokens, earn TREE</h2>
      </div>
    </div>
  </div>
</div>
