.dark {
  background-color: rgb(1, 6, 7);
  color: white;
}

.planter {
  width: 3rem;
  height: auto;
}

.tvl {
  padding: 1rem 1rem;
}
.card {
  padding: 1rem 1rem;
}

.tree-remaining {
  color:  rgb(108, 188, 204);
}