<div class="container mt-5 text-center justify-content-center">
  <div class="row mb-3">
    <div class="col">
      <div class="row justify-content-center">
        <h1 class="display-1">{{constants.FORESTS[forestID].emoji}}</h1>
      </div>
      <div class="row justify-content-center">
        <h1 class="display-4 main-text">{{constants.FORESTS[forestID].name}}</h1>
      </div>
      <div class="row justify-content-center">
        <h2 class="text-muted">Stake {{constants.FORESTS[forestID].tokenName}} tokens, earn TREE</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h1 class="card-title mb-3">🌳</h1>
          <h5 class="card-title">TREE Earned</h5>
          <h1 class="card-text">{{earnedTreeBalance.toFormat(4)}}</h1>
          <hr>
          <button type="button" class="btn btn-outline-success" (click)="harvest()">Harvest</button>
        </div>
      </div>
    </div> -->

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <img class="planter mb-3" src='../../assets/farmer.png'>
          <h5 class="card-title">{{constants.FORESTS[forestID].tokenName}} tokens staked</h5>
          <h1 class="card-text">{{stakedTokenBalance.toFormat(4)}}</h1>
          <hr>
          <button type="button" class="btn btn-outline-success" (click)="openModal(stakeModal)">Stake</button>
          <ng-container *ngIf="stakedTokenBalance.gt(0)">
            <button type="button" class="btn btn-outline-success ml-3"
              (click)="openModal(withdrawModal)">Withdraw</button>
            <button type="button" class="btn btn-outline-success ml-3" (click)="withdrawAllAndHarvest()">Withdraw All &
              Harvest</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #stakeModal let-modal>
  <div class="dark">
    <div class="modal-header">
      <h4 class="modal-title" id="stake-modal-title">Stake {{constants.FORESTS[forestID].tokenName}} tokens</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="stakeAmountInput">Amount</label>
          <div class="input-group">
            <input id="stakeAmountInput" class="form-control" placeholder="0.0000" #stakeAmountInput>
          </div>
          <button type="button" class="btn btn-link available-btn" (click)="setMaxStakeAmount(stakeAmountInput)">Available:
              {{availableStakeTokenBalance.toFormat()}}</button>
        </div>
      </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-block btn-outline-success" ngbAutofocus
        (click)="stake(stakeAmountInput.value); modal.close();">Stake</button>
    </div> -->
  </div>
</ng-template>

<ng-template #withdrawModal let-modal>
  <div class="dark">
    <div class="modal-header">
      <h4 class="modal-title" id="withdraw-modal-title">Withdraw your stake</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="withdrawAmountInput">Amount</label>
          <div class="input-group">
            <input id="withdrawAmountInput" class="form-control" placeholder="0.0000" #withdrawAmountInput>
          </div>
          <button type="button" class="btn btn-link available-btn"
            (click)="setMaxWithdrawAmount(withdrawAmountInput)">Available:
              {{stakedTokenBalance.toFormat()}}</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-block btn-outline-success" ngbAutofocus
        (click)="withdraw(withdrawAmountInput.value); modal.close();">Withdraw</button>
    </div>
  </div>
</ng-template>