/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(8, 40, 46);
}

.main-text {
  font-weight: bold;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

hr {
  background: white;
}

.col {
  color: white;
}

.card {
  background-color:  rgb(1, 6, 7);
  border-radius: 1rem;
}

.planter {
  width: 3rem;
  height: auto;
}